<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="form-group">
    <span class="feedback-title-style">Feedback requested for 1st Dec PM-Christmas fair to save a school swimming pool
        on
        Dec 14, 2018</span>

    <div class="panel panel-default panel-width btn-grp-style">
        <!-- Default panel contents -->
        <div class="navbar navbar-expand-lg panel-header-color"><span class="nav-bar-title-color">How do you rate
                the overall event?</span>

        </div>
        <div class="panel-body row">

            <span class="col-lg-2">
                <button type=" button" class="btn  btn-sm" style="padding-right: 4%;">
                    <img src="/assets/emoji-poor.png" alt="Poor-Rating"
                        class="user-image-style mar-right10 pull-right" />
                </button>

            </span>
            <span class="col-lg-2">
                <button type="button" class="btn  btn-sm">
                    <i class="fa fa-frown-o  font-size fa-frown-o-style"></i>
                </button>

            </span>

            <span class="margin-left col-lg-2">
                <button type="button" class="btn  btn-sm"><i class="fa fa-meh-o fa-meh-o-style font-size"></i></button>
            </span>
            <span class="margin-left col-lg-2">
                <button type="button" class="btn  btn-sm"><i
                        class="fa fa-smile-o fa-smile-o-style font-size"></i></button>
            </span>

            <span class="col-lg-2">
                <button type="button" class="btn  btn-sm">
                    <img src="/assets/emoji-excellent.png" alt="Excellent-Rating"
                        class="user-image-style mar-right10 pull-right" />
                </button>
            </span>
        </div>
    </div>


    <div class="panel panel-default panel-width btn-grp-style">
        <!-- Default panel contents -->
        <div class="navbar navbar-expand-lg panel-header-color"><span class="nav-bar-title-color">your thoughts
                here...</span>

        </div>
        <div class="panel-body row">
            <textarea class="form-control textarea-style " placeholder="your thoughts here..." rows="5"
                id="comment"></textarea>

        </div>
    </div>

    <div class="panel panel-default panel-width btn-grp-style">
        <!-- Default panel contents -->
        <div class="navbar navbar-expand-lg panel-header-color"><span class="nav-bar-title-color">What can be improved
                in this volunteering activity?</span>

        </div>
        <div class="panel-body row">
            <textarea class="form-control textarea-style" placeholder="your thoughts here..." rows="5"
                id="comment"></textarea>

        </div>
    </div>

    <div>
        <button type="button" class="btn btn-success float-right">Submit</button>
        <button type="button" class="margin btn btn-danger float-right">Reset</button>
    </div>

</div>