table{
  width:100%; 
}

.overflow-wrap-hack{
border:solid 1px #737373;
 max-width: 100%;
 overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.row-bg-color {
  background-color: #0033cc;
  color: white;
}
.td-border-color {
  border:solid 1px #33ff33;
 
}