<span class="feedback-title-style">Feedback requested for 1st Dec PM-Christmas fair to save a school swimming pool
    on
    Dec 14, 2018</span>
<br>
<div class="card pmd-card border-none">
    <div class="card pmd-card border-none body-width">
        <div class="card-body bg-color-blue">
            <h4 class="card-title font-color font-size-head font-style-title-txt">Hey there, You had registered for the
                event on saturday. We
                would
                like to know the reason for not joining the event to understand if the team which created the event has
                some
                room for improvement in their process, so that we get 100% participaton from the registered attendees.
            </h4>
        </div>
    </div>
</div>


<div class="card-deck panel-width">

    <button class="bg-color-black border-none width15">
        <div class="card pmd-card border-none">
            <div class="card-body bg-color-black">
                <h4 class="card-title font-color font-size-head font-style-btn-txt">Do not wish to disclose</h4>
            </div>

        </div>
    </button>
    <button class="bg-color-black border-none margin-left15 width15">
        <div class="card pmd-card border-none">
            <div class="card-body bg-color-black">
                <h4 class="card-title font-color font-size-head font-style-btn-txt">Unexpected Personal Commitment</h4>
            </div>
        </div>
    </button>
    <button class="bg-color-black border-none margin-left15 width15">
        <div class="card pmd-card border-none">
            <div class="card-body bg-color-black">
                <h4 class="card-title font-color font-size-head font-style-btn-txt">Unexpected Official Work</h4>
            </div>
        </div>
    </button>
    <button class="bg-color-black border-none margin-left15 width15">
        <div class="card pmd-card border-none">
            <div class="card-body bg-color-black">
                <h4 class="card-title font-color font-size-head font-style-btn-txt">Even not what I have Expected</h4>
            </div>
        </div>
    </button>
    <button class="bg-color-black border-none margin-left15 width15">
        <div class="card pmd-card border-none">
            <div class="card-body bg-color-black">
                <h4 class="card-title font-color font-size-head font-style-btn-txt">Did not Recieve Further Information
                    About the Event
                </h4>
            </div>
        </div>
    </button>
    <button class="bg-color-black border-none margin-left15 width15">
        <div class="card pmd-card border-none">
            <div class="card-body bg-color-black">
                <h4 class="card-title font-color font-size-head font-style-btn-txt">Incorrectly Registered</h4>
            </div>
        </div>
    </button>
</div>
<div class="button-style">
    <button type="button"
        class="btn btn-success fa fa-paper-plane float-right margin-left15 font-size25 submit-style">SUBMIT</button>
    <button type="button" class=" btn btn-danger float-right font-size25 reset-style">RESET</button>
</div>