.card-header-title-color {
    color: #0044cc;
}
.card-body-color {
   color: #00e64d;
}
.override-color {
    color: black;
}
.card-align-center {
     margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
}
.card-box-width {
    margin: 30px;
}