<div class="card card-box-width">
    <div class="card-header card-align-center">
        <h3 class="card-header-title-color">Many Thanks for the Feedback.</h3>
        <div class="card-header-actions">

        </div>
    </div>
    <div class="card-body card-body-color" style="text-align: center;">
        Feedback like this helps us constantly improve our outreach experiences by knowing what we are doing right
        and
        what we can work on. So, We appreciate you taking the time to spend us the helpful response. Don't hestitate
        to
        reach out if you have any more questions, comments, or concerns.
        <br>
        <span class="override-color">Cheers,</span><br>
        <span class="card-body-color" style="text-align: center;">Outreach Team</span>
    </div>
</div>