<div class="card-deck panel-width">
  <div class="card pmd-card">
    <div class="card-body bg-color-coral">
      <i class="fa fa-television pull-right icon-color-tv"></i>
      <h4 class="card-title font-color font-size-head">TOTAL EVENTS</h4>
      <p class="card-text font-color font-size-body">4</p>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block events-btn-style"><span class="view-click-style">View
        Details <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span></button>
  </div>

  <div class="card pmd-card">
    <div class="card-body bg-color-orange">
      <i class="fa fa-link pull-right icon-color-link" aria-hidden="true"></i>
      <h4 class="card-title font-color font-size-head">LIVES IMPACTED</h4>
      <p class="card-text font-color font-size-body">854</p>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block lives-btn-style"><span class="view-click-style">View
        Details <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span></button>
  </div>

  <div class="card pmd-card">
    <div class="card-body bg-color-purple">
      <i class="fa fa-users pull-right icon-color-users" aria-hidden="true"></i>
      <h4 class="card-title font-color font-size-head">TOTAL VOLUNTEERS</h4>
      <p class="card-text font-color font-size-body">31</p>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block volunteers-btn-style"><span
        class="view-click-style">View
        Details <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span></button>
  </div>

  <div class="card pmd-card">
    <div class="card-body bg-color-grey">
      <i class="fa fa-clock-o pull-right icon-color-clock" aria-hidden="true"></i>
      <h4 class="card-title font-color font-size-head">TOTAL PARTICIPANTS</h4>
      <p class="card-text font-color font-size-body">31</p>

    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block participants-btn-style"><span
        class="view-click-style">View
        Details <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span></button>
  </div>
</div>